<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Exchange Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="data" class="ion-container">
  <ion-button >
  <ion-back-button  defaultHref="/exchanges/list"></ion-back-button>
</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-img class="imagen" src="{{data.image}}"></ion-img>
      <ion-card-title>{{data.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      From: {{data.country}}
    </ion-card-content>
    <ion-card-content>
      Year Established: {{data.year_established}}
    </ion-card-content>
    <ion-card-content>
      Trade Volume last 24hs BTC: {{data.trade_volume_24h_btc}} BTC
    </ion-card-content>
    <ion-card-content>
      Trust Score Rank: {{data.trust_score_rank}}
    </ion-card-content>
    <ion-card-content>
      Official Site: {{data.url}}
    </ion-card-content>
    <ion-card-content>  
      {{data.description}}
    </ion-card-content>
  </ion-card>
</ion-content>

