<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EXCHANGES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <br>
    <ion-select label="Filtrar" label-placement="floating" fill="outline" [(ngModel)]="selectedFilter" (ngModelChange)="filterExchange()">
      <ion-select-option value="trust-score-rank">Trust Score Rank</ion-select-option>
      <ion-select-option value="a-z">A-Z</ion-select-option>
    </ion-select>
    <ion-searchbar placeholder="Buscar"  (input)="searchExchange($event)" animated ></ion-searchbar>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-list *ngFor="let exchange of SearchNames">
         <ion-item>
          <ion-thumbnail slot="start">
            <img src="{{exchange.image}}" />
          </ion-thumbnail>
          <ion-label>{{exchange.name}}</ion-label>
          <ion-nav-link router-direction="forward" [component]="component" routerLink="detalle-exchange/{{exchange.id}}">
            <ion-button>Ver mas</ion-button>
          </ion-nav-link>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>