<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EXCHANGES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <br>
    <ion-searchbar show-clear-button="never" placeholder="Buscar"  (input)="searchExchange($event)" animated ></ion-searchbar>
    <br>
    <ion-select label="Filtrar" label-placement="floating" fill="solid" [(ngModel)]="selectedFilter" (ngModelChange)="filterExchange()">
      <ion-select-option value="trust-score-rank">Trust Score Rank</ion-select-option>
      <ion-select-option value="a-z">A-Z</ion-select-option>
    </ion-select>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-list *ngFor="let exchange of searchNames ; let i=index ">
        
         <ion-item *ngIf="i<numero">

          <ion-thumbnail slot="start">
            <img src="{{exchange.image}}" />
          </ion-thumbnail>
          <ion-label>{{exchange.name}}</ion-label>
          <ion-button (click)="addExchangeFav(exchange.id)">
            <ion-icon aria-hidden="true" name="star"></ion-icon>
          </ion-button>
          <ion-nav-link router-direction="forward" [component]="component" routerLink="detalle-exchange/{{exchange.id}}">
            <ion-button>Ver mas</ion-button>
          </ion-nav-link>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Cargando..." loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
